<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Expense Tracker</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <meta http-equiv="refresh" content="5;url=/login">
</head>
<body>

  <div class="splash-page">
    <div class="splash-shape shape-1"></div>
<div class="splash-shape shape-2"></div>
<div class="splash-shape shape-3"></div>

   <div class="splash-center splash-animate">


      <div class="splash-logo">
        <div class="logo-wallet"></div>
        <div class="logo-line"></div>
        <div class="logo-coin coin-a"></div>
        <div class="logo-coin coin-b"></div>
      </div>

      <h1 class="splash-title">Expense Tracker</h1>
      <p class="splash-tagline">Smart expense tracking</p>

    </div>
  </div>

</body>
</html>
